In [1]:
import pandas as pd

In [2]:
# Load the data from the CSV file

df=pd.read_csv("/Users/cheribeda/Desktop/Video_Games.csv")

In [3]:
# Display first 10 columns

df.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Get the dimensions (number of rows and columns)
num_rows, num_cols = df.shape

# Display the dimensions
print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 16719
Number of columns: 16

In [5]:
# Sort the DataFrame by critic score in descending order
top_games = df.sort_values(by='Critic_Score', ascending=False)

# Select the top five games
top_five_games = top_games.head(5)

# Display the top five games
print(top_five_games)

                          Name Platform  Year_of_Release     Genre  \
227   Tony Hawk's Pro Skater 2       PS           2000.0    Sports
57         Grand Theft Auto IV      PS3           2008.0    Action
51         Grand Theft Auto IV     X360           2008.0    Action
5350               SoulCalibur       DC           1999.0  Fighting
165         Grand Theft Auto V     XOne           2014.0    Action

                 Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
227             Activision      3.05      1.41      0.02         0.20
57    Take-Two Interactive      4.76      3.69      0.44         1.61
51    Take-Two Interactive      6.76      3.07      0.14         1.03
5350    Namco Bandai Games      0.00      0.00      0.34         0.00
165   Take-Two Interactive      2.81      2.19      0.00         0.47

      Global_Sales  Critic_Score  Critic_Count User_Score  User_Count  \
227           4.68          98.0          19.0        7.7       299.0
57           10.50          98.0          64.0        7.5      2833.0
51           11.01          98.0          86.0        7.9      2951.0
5350          0.34          98.0          24.0        8.8       200.0
165           5.48          97.0          14.0        7.9       764.0

                    Developer Rating
227   Neversoft Entertainment      T
57             Rockstar North      M
51             Rockstar North      M
5350                    Namco      T
165            Rockstar North      M

In [6]:
# Count the number of video games in each genre
genre_counts = df['Genre'].value_counts()

# Display the number of video games in each genre
print(genre_counts)

Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: Genre, dtype: int64

In [7]:
# Filter the DataFrame for games on the SNES platform
snes_games = df[df['Platform'] == 'SNES']

# Select the first five games
first_five_snes_games = snes_games.head(5)

# Display the first five games on the SNES platform
print(first_five_snes_games)

                                     Name Platform  Year_of_Release     Genre  \
18                      Super Mario World     SNES           1990.0  Platform
56                  Super Mario All-Stars     SNES           1993.0  Platform
71                    Donkey Kong Country     SNES           1994.0  Platform
76                       Super Mario Kart     SNES           1992.0    Racing
137  Street Fighter II: The World Warrior     SNES           1992.0  Fighting

    Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  \
18   Nintendo     12.78      3.75      3.54         0.55         20.61
56   Nintendo      5.99      2.15      2.12         0.29         10.55
71   Nintendo      4.36      1.71      3.00         0.23          9.30
76   Nintendo      3.54      1.24      3.81         0.18          8.76
137    Capcom      2.47      0.83      2.87         0.12          6.30

     Critic_Score  Critic_Count User_Score  User_Count Developer Rating
18            NaN           NaN        NaN         NaN       NaN    NaN
56            NaN           NaN        NaN         NaN       NaN    NaN
71            NaN           NaN        NaN         NaN       NaN    NaN
76            NaN           NaN        NaN         NaN       NaN    NaN
137           NaN           NaN        NaN         NaN       NaN    NaN

In [8]:
# Group the data by publisher and sum the global sales for each publisher
publisher_sales = df.groupby('Publisher')['Global_Sales'].sum()

# Sort the publishers by total global sales in descending order
publisher_sales_sorted = publisher_sales.sort_values(ascending=False)

# Select the top five publishers
top_five_publishers = publisher_sales_sorted.head(5)

# Display the top five publishers with the highest total global sales
print(top_five_publishers)

Publisher
Nintendo                       1788.81
Electronic Arts                1116.96
Activision                      731.16
Sony Computer Entertainment     606.48
Ubisoft                         471.61
Name: Global_Sales, dtype: float64

In [9]:
# Calculate the percentage of global sales from North America
df['NA_Sales_Percentage'] = (df['NA_Sales'] / df['Global_Sales']) * 100

# Display the first five rows of the new DataFrame
print(df.head(5))

                       Name Platform  Year_of_Release         Genre Publisher  \
0                Wii Sports      Wii           2006.0        Sports  Nintendo
1         Super Mario Bros.      NES           1985.0      Platform  Nintendo
2            Mario Kart Wii      Wii           2008.0        Racing  Nintendo
3         Wii Sports Resort      Wii           2009.0        Sports  Nintendo
4  Pokemon Red/Pokemon Blue       GB           1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  Critic_Score  \
0     41.36     28.96      3.77         8.45         82.53          76.0
1     29.08      3.58      6.81         0.77         40.24           NaN
2     15.68     12.76      3.79         3.29         35.52          82.0
3     15.61     10.93      3.28         2.95         32.77          80.0
4     11.27      8.89     10.22         1.00         31.37           NaN

   Critic_Count User_Score  User_Count Developer Rating  NA_Sales_Percentage
0          51.0          8       322.0  Nintendo      E            50.115110
1           NaN        NaN         NaN       NaN    NaN            72.266402
2          73.0        8.3       709.0  Nintendo      E            44.144144
3          73.0          8       192.0  Nintendo      E            47.635032
4           NaN        NaN         NaN       NaN    NaN            35.926044

In [10]:
# Count the number of NaN entries in each column
nan_counts = df.isna().sum()

# Display the number of NaN entries in each column
print(nan_counts)

Name                      2
Platform                  0
Year_of_Release         269
Genre                     2
Publisher                54
NA_Sales                  0
EU_Sales                  0
JP_Sales                  0
Other_Sales               0
Global_Sales              0
Critic_Score           8582
Critic_Count           8582
User_Score             6704
User_Count             9129
Developer              6623
Rating                 6769
NA_Sales_Percentage       0
dtype: int64

In [11]:
# Convert non-numeric entries in the user score column to NaN
df['User_Score'] = pd.to_numeric(df['User_Score'], errors='coerce')

# Calculate the median of user scores
median_user_score = df['User_Score'].median()

# Replace NaN entries in the user score column with the median value
df['User_Score'].fillna(median_user_score, inplace=True)

# Display the updated DataFrame
print(df)

                                Name Platform  Year_of_Release         Genre  \
0                         Wii Sports      Wii           2006.0        Sports
1                  Super Mario Bros.      NES           1985.0      Platform
2                     Mario Kart Wii      Wii           2008.0        Racing
3                  Wii Sports Resort      Wii           2009.0        Sports
4           Pokemon Red/Pokemon Blue       GB           1996.0  Role-Playing
...                              ...      ...              ...           ...
16714  Samurai Warriors: Sanada Maru      PS3           2016.0        Action
16715               LMA Manager 2007     X360           2006.0        Sports
16716        Haitaka no Psychedelica      PSV           2016.0     Adventure
16717               Spirits & Spells      GBA           2003.0      Platform
16718            Winning Post 8 2016      PSV           2016.0    Simulation

          Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  \
0          Nintendo     41.36     28.96      3.77         8.45         82.53
1          Nintendo     29.08      3.58      6.81         0.77         40.24
2          Nintendo     15.68     12.76      3.79         3.29         35.52
3          Nintendo     15.61     10.93      3.28         2.95         32.77
4          Nintendo     11.27      8.89     10.22         1.00         31.37
...             ...       ...       ...       ...          ...           ...
16714    Tecmo Koei      0.00      0.00      0.01         0.00          0.01
16715   Codemasters      0.00      0.01      0.00         0.00          0.01
16716  Idea Factory      0.00      0.00      0.01         0.00          0.01
16717       Wanadoo      0.01      0.00      0.00         0.00          0.01
16718    Tecmo Koei      0.00      0.00      0.01         0.00          0.01

       Critic_Score  Critic_Count  User_Score  User_Count Developer Rating  \
0              76.0          51.0         8.0       322.0  Nintendo      E
1               NaN           NaN         7.5         NaN       NaN    NaN
2              82.0          73.0         8.3       709.0  Nintendo      E
3              80.0          73.0         8.0       192.0  Nintendo      E
4               NaN           NaN         7.5         NaN       NaN    NaN
...             ...           ...         ...         ...       ...    ...
16714           NaN           NaN         7.5         NaN       NaN    NaN
16715           NaN           NaN         7.5         NaN       NaN    NaN
16716           NaN           NaN         7.5         NaN       NaN    NaN
16717           NaN           NaN         7.5         NaN       NaN    NaN
16718           NaN           NaN         7.5         NaN       NaN    NaN

       NA_Sales_Percentage
0                50.115110
1                72.266402
2                44.144144
3                47.635032
4                35.926044
...                    ...
16714             0.000000
16715             0.000000
16716             0.000000
16717           100.000000
16718             0.000000

[16719 rows x 17 columns]